<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="../static/style.css">
        <script src='https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.js'></script>
      <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <title>Line Chart</title>
      </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand mr-auto" href="/">Project 2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plots
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dnavbarDropdownMenuLink">
                    <a class="dropdown-item" href="###">Bar Chart</a>
                    <a class="dropdown-item" href="###">Spider Chart</a>
                    <a class="dropdown-item" href="###">Line Chart</a>
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="comparison.html">Comparison</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sqldata">Data</a>
                </li>
              </ul>
            </div>
          </nav>
          <!--New body -->
          <div class="container">
            <div class="row col-md-12 col-sm-12"> <!--<div class="col-md-12 col-sm-12 box1"></div>-->
              <h1 class="description-header">University Rankings Between 2011-2016</h1>
            </div> <!--end of row-->
            <div class="row col-md-12 col-sm-12">
              <div class="well">
                <h5>Select a University:</h5>
                <select id="selDataset"></select>
              </div>
            </div>
            <hr />
            <div class="row col-md-12 col-sm-12">
              <div class="well">
                <!--<h6>Select Another University:</h6>-->
                <select id="selDataset2">
                  <option value="" disabled selected>Select another university</option>
                </select>
              </div>
            </div><br>
            <div class="row">     
              <div class="ct-chart ct-perfect-fourth col-lg-6 col-md-6"></div>
              <p class="pformat col-lg-6 col-md-6 col-sm-12">
                Add any info/ context we want to. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d
                olore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div> <!--End of class=container-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/line.js"></script>
    </body>
</html>