<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Spider Chart</title>
		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
    <!-- D3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js" charset="utf-8"></script>
		<style>
			.legend {
				font-family: 'Raleway', sans-serif;
				fill: #333333;
			}
		</style>
	</head>
	<body>
    <!--Beginning of navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-auto" href="/">Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plots
              </a>
              <div class="dropdown-menu" aria-labelledby="dnavbarDropdownMenuLink">
				<a class="dropdown-item" href="spider">Spider Chart</a>
                <a class="dropdown-item" href="bars">Bar Chart</a>
                <a class="dropdown-item" href="lines">Line Chart</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sqldata">Data</a>
            </li>
          </ul>
        </div>
      </nav>
    <!--End of navbar-->
    <h1 style="color:white;padding-top: 20px;" class="text-center">The Spider Chart</h1>
    <!--Adding dropdown box-->
    <div class="row col-md-2 col-sm-2" style=" margin-left: 25px;">
      <div class="well">
        <h5 style="color:white">Select a Year:</h5>
        <select id="selDataset"></select>
      </div>
    </div>
    <!--End of dropdown box div-->
    <script src="./static/sgraph.js"></script>
    <div class="radarChart"></div>
	 <script>
	  d3.json('/sqldata').then(function(item){
		function init(){
		var dropdownMenu = d3.select("#selDataset");
		//Creating years for dropdown menu
		var years = [2011, 2012, 2013, 2014, 2015, 2016];
		years.forEach((year) => {
			dropdownMenu
			.append("option")
			.text(year)
			.property("value", year);
		});
		}
		init();
		   function year2011(year){
             return year.year == "2011";
         };
        //Filtering data to where university is Harvard
        var initPlotData = item.filter(year2011).slice(0,3);
        //console.log(initPlotData);
		var data =[];
		 initPlotData.forEach(item => {
			 var array = [];
			 var entries = Object.entries(item)
			 //console.log(entries)
			var univeristyName = entries[10][1];
			array.push({axis:entries[0][0],value:entries[0][1]}),
			array.push({axis:entries[3][0],value:entries[3][1]}),
			array.push({axis:entries[4][0],value:entries[4][1]}),
			array.push({axis:entries[7][0],value:entries[7][1]}),
			array.push({axis:entries[8][0],value:entries[8][1]})
			data.push(array)
		 })
		 console.log(data)
d3.selectAll("#selDataset").on("change", buildLinePlot);
function buildLinePlot(){
	var dropdownMenu = d3.select("#selDataset");
	var selectedYear = dropdownMenu.property("value");
    //console.log(selectedUniversity);
    //Creating function that finds data with university equal to selected dropdown
    function filterYear(year){
      return year.year == selectedYear;
    };
    var filteredYear = item.filter(filterYear).slice(0,3);
    //console.log(correctUniversities);
    console.log(filteredYear)
	var data =[];
		 filteredYear.forEach(item => {
			 var array = [];
			 var entries = Object.entries(item)
			array.push({axis:entries[0][0],value:entries[0][1]}),
			array.push({axis:entries[3][0],value:entries[3][1]}),
			array.push({axis:entries[4][0],value:entries[4][1]}),
			array.push({axis:entries[7][0],value:entries[7][1]}),
			array.push({axis:entries[8][0],value:entries[8][1]})
			data.push(array)
		 })
		 var margin = {top: 100, right: 100, bottom: 100, left: 100},
				width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
				height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
				var color = d3.scaleBand()
				.range(["#EDC951","#CC333F","#00A0B0"]);
			var radarChartOptions2 = {
			  w: 290,
			  h: 350,
			  margin: margin,
			  maxValue: 60,
			  levels: 6,
			  roundStrokes: false,
			  color: d3.scaleOrdinal().range(["#AFC52F", "#ff6600"]),
				format: '.0f',
				legend: { title: 'Organization XYZ', translateX: 100, translateY: 40 },
				unit: '$'
			};
		 //console.log(data)
		 RadarChart(".radarChart", data, radarChartOptions2);
};
      /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */
			////////////////////////////////////////////////////////////// 
			//////////////////////// Set-Up ////////////////////////////// 
			////////////////////////////////////////////////////////////// 
			var margin = {top: 100, right: 100, bottom: 100, left: 100},
				width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
				height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);
			var color = d3.scaleBand()
				.range(["#EDC951","#CC333F","#00A0B0"]);
			var radarChartOptions2 = {
			  w: 290,
			  h: 350,
			  margin: margin,
			  maxValue: 60,
			  levels: 6,
			  roundStrokes: false,
			  color: d3.scaleOrdinal().range(["#AFC52F", "#ff6600"]),
				format: '.0f',
				legend: { title: 'Organization XYZ', translateX: 100, translateY: 40 },
				unit: '$'
			};
			//Call function to draw the Radar chart
			RadarChart(".radarChart", data, radarChartOptions2);
		})
		</script> 
    <svg>
    </svg>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="./static/sgraph.js"></script>
	</body>
</html>